@model PrometheusWebApplication.Models.Teacher
@{
    ViewBag.Title = "SearchTeacherByName";
}

<h2>Search a Teacher</h2>

@using (Html.BeginForm())
{
    <h3>
        <input type="text" name="div" />
        <input type="submit" value="Search by Teacher Name" class="btn btn-info" />
    </h3>
    @Html.ActionLink("Back to Admin Home", "Home")

}



