
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<p>@Html.ActionLink("Update Personal Details", "UpdateDetails", "Student", null, new { @class = "btn btn-danger" })</p>

<p>@Html.ActionLink("Enroll for Course", "CourseEnroll", "Student", null, new { @class = "btn btn-danger" })</p>

<p>@Html.ActionLink("View Homework", "ViewHomework", "Student", null, new { @class = "btn btn-danger" })</p>

<p>@Html.ActionLink("My Courses", "MyCourses", "Student", null, new { @class = "btn btn-danger" })</p>

